<!DOCTYPE html>
<html>
    <head>
        <title>Form</title>

        <meta charset="UTF-8">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/form.css') }}">
    </head>
    <body>
        <div class="test">{{logging}}</div>
        <form method="POST" class="center" style="text-align: center;">
            <h1 class="title">Generate your company's meme</h1>
            <div class="container">
                <label for="company_name"><b>Company name <span class="asterisk">*</span></b>
                <input class ="form-input" type="text" placeholder="company_name" name="company_name" required>
            </label>

            <label for="meme_vibe"><b>Meme vibe <span class="asterisk">*</span></b>
                <input class ="form-input" type="text" placeholder="meme_vibe" name="meme_vibe" required>
            </label>

            <label for="meme_preferences"><b>Meme preferences <span class="asterisk">*</span></b>
                <input class ="form-input" type="text" placeholder="meme_preferences" name="meme_preferences" required>
            </label>

            <label for="meme_budget"><b>Meme budget</b>
                <input class ="form-input" type="text" placeholder="meme_budget" name="meme_budget">
            </label>

            <label for="optional_text"><b>Optional text on meme</b>
                <input class ="form-input" type="text" placeholder="optional_text" name="optional_text">
            </label>

            <figure class="choose-image-container">
                <img id="chosen-image" class="chosen-image" src="../static/img/upload.png" alt="Image failed loading" >
                <input class="image-select" name ="photo" type="file" accept="image/*" onchange="document.getElementById('autograph-image').src=window.URL.createObjectURL(this.files[0])">
            </figure>


            </div>
            <button input type="submit" class="button_form" style="font-family: 'Courier New', Courier, monospace; align-self: center;">SUBMIT</button>
        </form>
        <p>{{ message }}</p>
    </body>
</html>