<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/payment.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Payment</title>
</head>

<body>
<div class="center">
        <p>Your meme will be generated as soon as you make the payment. It will be sent to you by email.</p>
        <p>We will also not process your card details, and you will be redirected to an authorized payment page.</p>
    <a href="https://buy.stripe.com/test_aEUfZybEs7WSgMg4gg"> CLICK TO PURCHASE❤️</a>
</div>
</body>
</html>