body  {
    background-image: url('/static/img/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    
    align-self: auto;
    margin:auto;
    border: 0.5px solid #1F1300;
    padding: 40px;
    width: 50%; 
    height: 40%;
    background-color: rgba(242,227,188, 0.8);
}

.button_form {
    align-self: center;
    border: none;
    color: black;
    background-color: #C19875;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.autograph-image{
    max-height: 5vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button_register:hover{
background-color: #A8763E;
color: white;
}
